@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #7e405f;
  --content-color: #ee9d9d;
}

html {
  height: -webkit-fill-available;
  background-color: var(--bg-color);
}

body {
  height: 100%;
  font-family: 'Odibee Sans', cursive;
  font-size: 32px;
}

.btn-custom {
  border-radius: 8px;
  border: 1px solid var(--content-color);
  padding: 0.6rem 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: 0.3s;
}

.btn-custom:hover {
  background-color: var(--content-color);
  color: var(--bg-color);
}

#app {
  text-align: center;
  height: 100%;
}
